<h2>Create New Employee</h2>

  <md-input-container style="width:30%;padding-left: 30px">
    <input mdInput [(ngModel)]="newEmploye.name" placeholder="Name" name="name">
  </md-input-container><br>
  <md-input-container style="width:30%;padding-left: 30px">
    <input mdInput [(ngModel)]="newEmploye.department" placeholder="Department" name="department">
  </md-input-container><br>
  <button md-raised-button (click)="createEmploye(newEmploye)">Create Employe</button>

  <hr>

  <h2>Employee List</h2>

  <md-list>
    <md-list-item *ngFor="let employe of employes" (click)="showInfo(employe)">
         <h1><a> <span class="label label-success">{{employe.name}}</span> </a></h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button md-raised-button (click)="deleteEmploye(employe); $event.stopPropagation()">Delete</button>

        </md-list-item>
  </md-list>



  <hr>


  
