<md-card *ngIf="employe" style="width: 30%">
  <md-input-container>
    <input mdInput [(ngModel)]="employe.name" placeholder="Name" name="name">
  </md-input-container><br>
  <md-input-container>
    <input mdInput [(ngModel)]="employe.department" placeholder="Department" name="department">
  </md-input-container><br>
  <md-card-actions>
    <button md-button (click)="goBack()"> Back </button>
    <button md-button (click)="updateEmploye()"> Update </button>
  </md-card-actions>
</md-card>